%dropdown-arrow {
	@include transform(translate(0, -50%));
	content: "";
	border-style: solid;
	border-width: 6px 4.5px 0 4.5px;
	border-color: $lightGray transparent transparent transparent;
	width: 0;
	height: 0;
	position: absolute;
	top: 50%;
	right: 13px;
}

%purple-arrow {
	border-color: $darkPurple transparent transparent transparent;
}

%charcoal-arrow {
	border-color: #333 transparent transparent transparent;
}

%transition--250ms {
	@include transition(all 0.25s ease-in-out);
}
