//---------------------------
//
// Variables/Colors
// ===============
//
//---------------------------

$black: 					#000;
$red:                       #ef585a;
$white: 					#fff;
$gray: 						#868686;
$purple: 					#7F65B7;
$darkPurple: 				darken($purple, 12%);
$darkerPurple: 				darken($purple, 25%);
$charcoal: 					#404040;
$lightGray: 				#bababa;
$lighterGray: 				#f8f8f8;
$grayBorder: 				#efefef;
$auxiliaryDropdownBorder: 	#dadada;