//---------------------------
//
// Variables/Units
// ===============
//
//---------------------------

$em-base: 18px; // same as font-size

$row-width: 1110px; // used for grid
$line-height: 1.5;
$baseline: 20px;