.about-stats {
	padding-top: 30px;
}

.about-stat {
	text-align: center;
	margin-bottom: 20px;
	h3 {
		@include breakpoint(sm) {
			font-size: rem(28);
		}
		color: $purple;
		font-size: rem(48);
		font-weight: 300;
		line-height: 1;
    	margin-bottom: 5px;
	}
	p {
		@include breakpoint(sm) {
			font-size: rem(13);
		}
		color: $black;
		font-size: rem(15);
		font-weight: 700;
		margin: 0;
	}
}