<div class="main main--home">
    <page-header row="row--768" title="About"></page-header>
    <div class="row row--768">
        <div class="column large-12 medium-12 small-12">
            <p>Polysent is an online poll maker that allows you to instantly obtain anonymously-submitted results with ease.  In addition, you can browse and participate in other polls that people have submitted.  The types of polls that you'll find here are relative to a myriad of topics such as: politics, entertainment, technology, etc.</p>
            <p>The mission of this site is to provide an intuitive, aesthetically pleasing way of obtaining information submitted by anonymous users.  This can be acheived either publicly, where everyone can see the poll and participate, or privately, where you select who can participate by sharing the link.  In essence, you, the moderator, have complete control over the results of your poll.</p>
        </div>
    </div>
    <div class="row row--768">
        <div class="column large-12 medium-12 small-12">
            <p>Polysent has been developed, and is maintained by, <a href="http://mtk.me/">Matthew Kosloski</a>.  It was developed on the MEAN stack software bundle, which utilizes full-stack JavaScript.</p>
        </div>
    </div>
</div>