<div class="row">
	<div class="column large-12">
		<div class="flex-table">
			<ul class="no-bullet flex-table__head">
				<li>Index</li>
				<li>Question</li>
				<li>Category</li>
				<li>Slug</li>
				<li>Votes</li>
				<li>Upvotes</li>
				<li>Featured</li>
				<li>Private</li>
			</ul>

			<ul class="no-bullet flex-table__body">
				<a ng-href="admin/edit/{{poll._id}}" class="flex-table__item" ng-repeat="poll in polls track by $index" title="Click to edit poll {{poll._id}}">
					<li class="body__row">
						<ul class="no-bullet">
							<li>{{poll.index}}</li>
							<li>{{poll.question | clamp: 40}}</li>
							<li>{{poll.category}}</li>
							<li>{{poll._id}}</li>
							<li>{{poll.totalVotes}}</li>
							<li>{{poll.upvotes}}</li>
							<li>{{poll.featured}}</li>
							<li>{{poll.private}}</li>
						</ul>
					</li>
				</a>
			</ul>
		</div>
	</div>
</div>
<div class="row" ng-if="busyLoading">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<div class="row" ng-show="!busyLoading">
	<div class="column large-12">
		<uib-pagination 
            previous-text="Prev" 
            total-items="totalPolls" 
            items-per-page="polls_per_page" 
            ng-model="currentPollPage" 
            max-size="maxAmountOfPolls" 
            boundary-link-numbers="true" 
            rotate="false" 
            ng-change="loadPollsByType(postType)">
        </uib-pagination>
	</div>
</div>