<page-header row="row--640" title="Edit Poll"></page-header>
<div class="row row--640">
	<div class="column large-12">
		<form novalidate class="submit-poll" ng-submit="addPoll()" autocomplete="off">
			<fieldset>
			    <div class="row">
			        <div class="column large-8 medium-8 small-12">
			        	<label class="block-label" for="question">Question</label>
			            <input type="text" name="question" id="question" ng-model="poll.question" autofocus required>
			        </div>
			        <div class="column large-4 medium-4 small-12">
			        	<label class="block-label">Category</label>
			            <div class="dropdown dropdown--purple" uib-dropdown>
			                <button class="dropdown__btn" tabindex="0" uib-dropdown-toggle id="category-dropdown-toggle">
			                    <span ng-if="!poll.category">choose a category</span>
			                    <span ng-if="poll.category">{{poll.category}}</span>
			                </button>
			                <ul class="dropdown__list" uib-dropdown-menu aria-labelledby="category-dropdown-toggle">
			                    <li class="dropdown-item" ng-repeat="category in categories" ng-click="poll.category = category.label" ng-class="{'dropdown-item--active': poll.category.label === category.label}"><a href="#">{{category.label}}</a></li>
			                </ul>
			            </div>
			        </div>
			    </div>
			</fieldset>
			<fieldset>
			    <div class="row">
			        <div class="column large-4 medium-4 small-12">
			        	<label class="block-label" for="ip">Submitted by</label>
			            <input type="text" name="ip" id="ip" ng-model="poll.submittedBy" autofocus required readonly>
			        </div>
			        <div class="column large-4 medium-4 small-12">
			        	<label class="block-label" for="index">Index</label>
			            <input type="text" name="index" id="index" ng-model="poll.index" autofocus required readonly>
			        </div>
			        <div class="column large-4 medium-4 small-12">
			        	<label class="block-label" for="slug">Slug</label>
			            <input type="text" name="slug" id="slug" ng-model="poll._id" autofocus required>
			        </div>
			    </div>
			</fieldset>
			<fieldset>
			    <div class="row">
			        <div class="column large-3 medium-3 small-12">
			        	<label class="block-label" for="total-votes">Total Votes</label>
			            <input type="text" name="total-votes" id="total-votes" ng-model="poll.totalVotes" autofocus required readonly>
			        </div>
			        <div class="column large-3 medium-3 small-12">
			        	<label class="block-label" for="upvotes">Upvotes</label>
			            <input type="text" name="upvotes" id="upvotes" ng-model="poll.upvotes" autofocus required readonly>
			        </div>
			        <div class="column large-3 medium-3 small-12">
			        	<label class="block-label" for="featured">Featured</label>
			            <input type="text" name="featured" id="featured" ng-model="poll.featured" autofocus required>
			        </div>
			        <div class="column large-3 medium-3 small-12">
			        	<label class="block-label" for="private">Private</label>
			            <input type="text" name="private" id="private" ng-model="poll.private" autofocus required>
			        </div>
			    </div>
			</fieldset>
			<label class="block-label">Options</label>
			<fieldset ng-repeat="option in poll.options track by $index" class="mb--15">
			    <div class="row">
			        <div class="column large-6 medium-6 small-12">
			        	<label for="title-{{$index}}">Title</label>
			            <input type="text" id="title-{{$index}}" ng-model="option.title" autofocus required>
			        </div>
			        <div class="column large-6 medium-6 small-12">
			        	<label for="votes">Votes</label>
			            <input type="text" id="votes" ng-model="option.votes" autofocus required readonly>
			        </div>
			    </div>
			</fieldset>
			<fieldset>
			    <div class="row">
			        <div class="column large-12 medium-12 small-12">
			            <button type="submit" class="btn btn--purple" ng-class="{'btn--gray':pollForm.$invalid}" ng-disabled="pollForm.$invalid">Submit</button>
			        </div>
			    </div>
			</fieldset>
		</form>
	</div>
</div>