<div class="main main--home">
    <page-header row="row--768" title="FAQ"></page-header>
    <div class="row row--768">
        <div class="column large-12 medium-12 small-12">
            <div class="faq">
                <h3>What is Polysent?</h3>
                <p>Polysent is an online poll maker that allows you to instantly obtain anonymously-submitted results with ease.</p>
            </div>
            <div class="faq">
                <h3>How many polls can I submit?</h3>
                <p>You can submit as many polls as you desire; however, all submissions are subject to review.</p>
            </div>
            <div class="faq">
                <h3>Can I submit a similar poll that already exists?</h3>
                <p>Yes, feel free to submit a poll that has already been added to Polysent.</p>
            </div>
            <div class="faq">
                <h3>Can I create a private poll?</h3>
                <p>Yes, you don't have to create a public poll that will be added and archieved on the site for everyone to see.  If you desire to create a private poll, just select "Private" on the form when submitting.</p>
            </div>
            <div class="faq">
                <h3>If I have a suggestion or found a bug, how do I contact you?</h3>
                <p>If you discover problems during your experience, feel free to create an issue on the Github <a href="https://github.com/MatthewKosloski/polysent">repository</a>, send me an <a href="mailto:hi@mtk.me">email</a>, or <a href="http://twitter.com/_mkos">tweet</a> me.</p>
            </div>
        </div>
    </div>
</div>