<div class="main main--home">
    <page-header row="row--640" title="New Poll"></page-header>
    <div class="row row--640">
        <div class="column large-12 medium-12 small-12">
            <form name="pollForm" novalidate class="submit-poll" ng-submit="addPoll()">

                <fieldset>
                    <div class="row">
                        <div class="column large-12 medium-12 small-12">
                            <label class="block-label" for="question">question</label>
                            <input type="text" name="question" id="question" ng-model="newPoll.question" autofocus required>
                        </div>
                    </div>
                </fieldset>

                <fieldset ng-repeat="option in options track by $index">
                    <div class="row">
                        <div class="column large-12 medium-12 small-12">
                            <label class="block-label" for="option-{{$index + 1}}">option {{$index + 1}}</label>
                            <input type="text" name="option-{{$index + 1}}" id="option-{{$index + 1}}" ng-model="newPoll.options[$index].title" required>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="row">
                        <div class="column large-12 medium-12 small-12">
                            <a href="javascript:void(0);" class="submit-poll__add" ng-click="addOption()">+ another option</a>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="row">
                        <div class="column large-12 medium-12 small-12">
                            <select ng-options="category as category.label for category in categories track by category.label" ng-model="newPoll.category" name="category" required>
                                <option value="">select a category</option>
                            </select>
                        </div>
                    </div>
                </fieldset>

                <fieldset ng-if="message">
                    <div class="row">
                        <div class="column large-12 medium-12 small-12">
                            <small>{{message}}</small>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="row">
                        <div class="column large-4 medium-4 small-4">
                            <button type="submit" class="btn btn--purple" ng-class="{'btn--gray':pollForm.$invalid}" ng-disabled="pollForm.$invalid">Submit</button>
                        </div>
                        <div class="column large-8 medium-8 small-8">
                            <div class="toggle float--right">
                                <input class="toggle__checkbox" type="checkbox" id="make-private" ng-model="newPoll.private">
                                <label class="toggle__false" for="make-private" checked>Public</label>
                                <label class="toggle__true" for="make-private">Private</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset ng-if="newPoll.private">
                    <div class="row">
                        <div class="column large-12 medium-12 small-12">
                            <small>Private polls don't show up on the site for everyone to see.</small>
                        </div>
                    </div>
                </fieldset>

            </form>
        </div>
    </div>
</div>