<div class="main main--padded">
    <page-header row="row--640" title="New Poll"></page-header>
    <div class="row row--640">
        <div class="column large-12 medium-12 small-12">
            <form name="pollForm" novalidate class="submit-poll" ng-submit="addPoll()" autocomplete="off">
                <fieldset>
                    <div class="row">
                        <div class="column large-12 medium-12 small-12">
                            <label class="block-label" for="question">question</label>
                            <input type="text" name="question" id="question" ng-model="newPoll.question" autofocus required>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="option" ng-repeat="option in options track by $index" ng-class="option.hide ? 'option--hidden' : 'option--visible'">
                    <div class="row">
                        <div class="column large-12 medium-12 small-12">
                            <label class="block-label" for="option-{{$index + 1}}">option {{$index + 1}}</label>
                            <input type="text" name="option-{{$index + 1}}" id="option-{{$index + 1}}" ng-model="newPoll.options[$index].title" ng-required="option.hide ? false : true">
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="row">
                        <div class="column large-12 medium-12 small-12">
                            <a href="#" class="submit-poll__add" ng-click="addOption()">+ another option</a>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="row">
                        <div class="column large-12 medium-12 small-12">
                            <select class="display--none" ng-options="category as category.label for category in categories track by category.label" ng-model="newPoll.category" required>
                                <option value="">choose a category</option> 
                            </select>
                            <div class="dropdown dropdown--purple dropdown--relative" uib-dropdown>
                                <button class="dropdown__btn" tabindex="0" uib-dropdown-toggle id="category-dropdown-toggle">
                                    <span ng-if="!newPoll.category.label">choose a category</span>
                                    <span ng-if="newPoll.category.label">{{newPoll.category.label}}</span>
                                </button>
                                <ul class="dropdown__list" uib-dropdown-menu aria-labelledby="category-dropdown-toggle">
                                    <li class="dropdown-item" ng-repeat="category in categories" ng-click="newPoll.category = category" ng-class="{'dropdown-item--active': newPoll.category.label === category.label}"><a href="#">{{category.label}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="row">
                        <div class="column large-4 medium-4 small-4">
                            <button type="submit" class="btn btn--purple" ng-class="{'btn--gray':pollForm.$invalid}" ng-disabled="pollForm.$invalid">Submit</button>
                        </div>
                        <div class="column large-8 medium-8 small-8">
                            <div class="toggle float--right">
                                <input class="toggle__checkbox" type="checkbox" id="make-private" ng-model="newPoll.private">
                                <label class="toggle__false" for="make-private" checked>Public</label>
                                <label class="toggle__true" for="make-private">Private</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset ng-if="newPoll.private">
                    <div class="row">
                        <div class="column large-12 medium-12 small-12">
                            <small>Private polls don't show up on the site for everyone to see.</small>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>