<div class="modal" ng-class="show ? 'modal--visible' : 'modal--hidden'">
    <div class="modal__overlay" ng-click="hideModal()"></div>
    <div class="modal__content transition" ng-class="show ? animationClasses[0] : animationClasses[1]" ng-style="{'width': width, 'height': height}">
        <div class="spinner" ng-show="loading">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
        <div class="modal__inner" ng-show="!loading">
            <div class="modal__close" ng-click="hideModal()">
                <span class="icon-cross"></span>
            </div>
            <div class="modal__top">
                <span class="{{iconClass}}"></span>
                <h2>{{heading}}</h2>
                <p>{{subHeading}}</p>
            </div>
            <div class="modal__bottom">
                <a class="modal__cta" href="#" ng-click="hideModal()">{{buttonText}}</a>
            </div>
        </div>
    </div>
</div>