.auxiliary {
	@include breakpoint(sm) {
		border: none;
	}
	border-bottom: 2px solid $grayBorder;
	margin-bottom: 50px;
}

.auxiliary__sorters {
	@include breakpoint(sm) {
		@include transition(all 0.25s ease-in-out);
	    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.08);
	    max-height: 0;
	    overflow: hidden;
	    opacity: 0;
	}
	li {
		@include breakpoint(sm) {
			display: block;
			text-align: center;
			font-size: rem(16);
			padding: 0;
		}
		&:not(:last-child) {
			@include breakpoint(md) {
				margin-right: 10px;
			}
			@include breakpoint(sm) {
				margin-right: 0;
				border-bottom: 1px solid $grayBorder;
			}
			margin-right: 25px;
		}
		&:last-child {
			@include breakpoint(sm) {
				border-bottom: 1px solid $grayBorder;
			}
		}
		&:hover {
			@include breakpoint(sm) {
				border-bottom: 1px solid $grayBorder;
				color: $purple;
			}
			border-bottom: 2px solid $purple;
		}
		padding: 14px 0;
		display: inline-block;
		border-bottom: 2px solid transparent;
		margin-bottom: -2px;
	}
	a {
		@include breakpoint(md) {
			padding: 15px 0;
		}
		@include breakpoint(sm) {
			display: block;
			padding: 14px 0;
			color: $charcoal;
		}
		&:hover {
			text-decoration: none;
		}
		padding: 16px 0;
		color: $purple;
		text-decoration: none;
	}
	.auxiliary-item--active {
		@include breakpoint(sm) {
				background-color: $lighterGray;
				border: none;
			}
		border-bottom: 2px solid $purple;
	}
	margin-left: 0;
}

.auxiliary__sorters--visible {
    max-height: 999px;
    opacity: 1;
}

.auxiliary--left {
	@include breakpoint(sm) {
		padding: 0;
	}
}

.auxiliary--right {
	text-align: right;
	.dropdown {
		@include breakpoint(sm) {
			display: none;
		}
	}
}

.auxiliary__location {
	@include breakpoint(sm) {
		display: block;
	}
	&::after {
		@extend %dropdown-arrow;
		border-top-color: $charcoal;
		right: 15px;
	}
	display: none;
	border-bottom: 2px solid $grayBorder;
	padding: 15px;
	color: $charcoal;
	font-weight: 700;
	text-decoration: none;
	cursor: pointer;
}

.auxiliary__location--active {
	&::after {
		@include transform(translate(0, -50%) rotate(180deg));
	}
}






